<template name="cars_details">
    <a href="{{ pathFor 'home' }}">back</a>


    <h1>{{ car.licensePlate }}</h1>
    <p>{{ car.make }} {{ car.model }}</p>


    <h3>Adauga operatiune</h3>
    {{# autoForm id='form_carOp' collection=OpsCollection type='method' meteormethod='ops.insert' }}
        {{> afQuickField name='type' }}
        {{> afQuickField name='details' rows=5 }}
        {{> afQuickField name='price' }}
        {{> afQuickField name='date' }}
        {{> afQuickField name='carId' type='hidden' value=car._id }}
        <button type="submit">Salveaza</button>
    {{/ autoForm }}


    <h2>Lista Operatiuni</h2>
    <ul>
        {{# each op in ops }}
            <li>
                <strong>{{ op.type }}</strong>
                <br>
                {{ op.date }}
                <br>
                {{ op.price }} RON
                <br>
                {{ op.details }}
                <br>
                <a href data-remove="{{ op._id }}">sterge</a>
            </li>
        {{/ each }}
    </ul>
</template>