<template name="cars_list">
    <h1>Lista masini</h1>


    <h3>Adauga masina</h3>
    {{> quickForm id='form_addCar' collection=CarsCollection type='method' meteormethod='cars.insert' }}


    <ul>
        {{# each car in cars }}
            <li>
                <a href="{{ pathFor 'cars.details' id=car._id }}">{{ car.licensePlate }}</a>
                <br>
                <a href data-remove="{{ car._id }}">sterge</a>
            </li>
        {{/ each }}
    </ul>
</template>